@page "/job-application";
@using DotLive02.Shared.Models;
@inject HttpClient HttpClient;

<PageTitle> Suas incrições em vagas</PageTitle>
<h1>Suas incrições em vagas </h1>


<table class="table">
    <thead>
        <tr>
            <td>Título</td>
            <td>Empresa</td>
            <td>Localização</td>
            <td>Salário</td>
            <td>Data de inscrição</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var jobApplication in model)
        {
            if (jobApplication is not null)
            {
                <tr>
                    <td>@jobApplication.Title</td>
                    <td>@jobApplication.Company</td>
                    <td>@jobApplication.Location</td>
                    <td>@jobApplication.Salary</td>
                    <td>
                        @jobApplication.AppliedAt
                    </td>
                </tr>
            }
        }
    </tbody>


</table>

@code {
    private List<JobApplicationViewModel> model = new();

    protected override async Task OnInitializedAsync()
    {
        model = await HttpClient.GetFromJsonAsync<List<JobApplicationViewModel>>("api/jobs/application");
    }

}
